{% extends 'base.html' %}

{% block content %}
<div class="container">
  
    
      <div class="card">
        <div class="card-header" id="head4"><b>{{ host.title }} Hosting</b></div>
        <div class="card-body">
          <p><b>Are you sure you want to delete this hosting entry?</b></p>
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <input type="submit" value="Delete" class="btn btn-danger" id="butt">
              <a href="{% url 'manage-host' %}" class="btn btn-secondary" id="butt">Cancel</a>



            </div>
          </form>
        </div>
      </div>
    

</div>

<style>
  body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-top: 100px;
    margin-left: 450px;
  }

  .row{
    background-color: #6c757d;
  }
  p{
    margin-bottom: 20px;
    font-size: large;
  }
  .card-header{
    font-size: 30px;
  }
  form{
    margin-bottom: 20px;
  }
  #butt{
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
  }
  .btn-danger{
    background-color: #dc3545;
    border-color: #dc3545;
  }
  .btn-danger:hover{
    background-color: #c82333;
    border-color: #bd2130;
  }
  .btn-secondary{
    background-color: #6c757d;
    border-color: #6c757d;
  }
  .btn-secondary:hover{
    background-color: #5a6268;
    border-color: #545b62;
  }
  
</style>
{% endblock %}
