{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #478fcf;
  position: fixed;
  top: 0;
  width: 100%;
  
}
h2 {
    text-align: center;
    font-size: 45px;
    color: #478fcf;
}


</style>
</head>
<body>

  <ul style="background-image: linear-gradient(to right,#b5e4f7,#ffffff, #ffffff ,  #b5e4f7 ); list-style-type: none; margin: 0; padding: 0; overflow: hidden; position: fixed; top: 0; width: 100%; text-align: center;">
    <h2 style="display: inline-block; margin: 0; padding: 10px;">
      <img src="{% static 'assets1/pinelogo.png' %}" width="80" height="80" alt="Logo" style="vertical-align: middle;">
      PDH PORTAL
    </h2>
  </ul>
  
  


{% block content %}
{% endblock %}

<!--<div style="padding:20px;margin-top:30px;background-color:#1abc9c;height:1500px;">
  <h1>Fixed Top Navigation Bar</h1>
  <h2>Scroll this page to see the effect</h2>
  <h2>The navigation bar will stay at the top of the page while scrolling</h2>

  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
  <p>Some text some text some text some text..</p>
</div>-->

</body>
</html>